<form [formGroup]="filterForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="filter-card">
    <mat-card-header>
      <mat-card-title>Filter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Datumsbereich</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [formControl]="filterForm.controls.start" placeholder="Start Datum"
                 [errorStateMatcher]="errorMatcher">
          <input matEndDate [formControl]="filterForm.controls.end" placeholder="End Datum"
                 [errorStateMatcher]="errorMatcher">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Abbrechen</button>
            <button mat-raised-button [disabled]="!filterForm.controls.start.value && !filterForm.controls.end.value "
                    color="basci" (click)="clearDateRange();picker.close()">Leeren
            </button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Anwenden</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
        <mat-error *ngIf="filterForm.controls.start.hasError('matstartdateinvalid')">ungültiges start datum
        </mat-error>
        <mat-error *ngIf="filterForm.controls.end.hasError('matenddateinvalid')">ungültiges end datum</mat-error>
        <mat-error *ngIf="filterForm.hasError('startXorEndNeeded')">Start oder End Datum wählen</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select close-after-select [formControl]="filterForm.controls.statuses" multiple>
          <mat-option *ngFor="let status of statusList" [value]="status.key">{{status.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="isReadOnly$ | async" mat-raised-button color="primary" type="submit">Filtern</button>
    </mat-card-actions>
  </mat-card>
</form>

<div class="section" *ngIf="viewModel$ | async as viewModel">
  <div class="loading-indicator" *ngIf="viewModel.isLoading && !viewModel.isLoadingMore else contentBlock">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #contentBlock>
    <h2 class="narrow">Zusammenfassung</h2>
    <div class="mat-caption" *ngIf="viewModel.transactions.length">{{viewModel.minTimestamp | date}}
      - {{viewModel.maxTimestamp | date}}</div>
    <mat-list>
      <mat-list-item>
        <span>Betrag</span>
        <span matListItemMeta class="list-meta total">{{viewModel.totalAmount | currency:'CHF'}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Trinkgeld</span>
        <span matListItemMeta class="list-meta">{{viewModel.totalTip | currency:'CHF' }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Ausbezahlt</span>
        <span matListItemMeta class="list-meta">{{viewModel.totalPayout | currency:'CHF' }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Gebühren</span>
        <span matListItemMeta class="list-meta">{{viewModel.totalFeeAmount | currency:'CHF'}}</span>
      </mat-list-item>
    </mat-list>
    <div class="section" *ngIf="viewModel.transactions.length">
      <h2>Details</h2>
      <!--<div class="day-summary" *cdkVirtualFor="let entry of viewModel.transactions">-->
      <div class="day-summary" *ngFor="let entry of viewModel.transactions;">
        <mat-list class="list-entry">
          <mat-list-item>
            <!--           <mat-icon matListItemIcon>home</mat-icon>-->
            <h3 matListItemTitle>{{entry.day | date}}</h3>
            <span matListItemMeta class="list-meta total">{{entry.totalAmount | currency:'CHF'}}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let tx of entry.transactions; last as last; trackBy:identify"
                         [ngClass]="{'error': tx.failed, 'info': tx.isRefund, 'success': !tx.failed }">
            <mat-icon matListItemIcon>{{tx.icon}}</mat-icon>
            <span matListItemTitle [ngClass]="{'deleted': tx.failed}">{{tx.transaction_code}}</span>
            <div matListItemLine>
              <span>{{tx.timestamp | date:'HH:mm'}}</span>
              <span> - </span>
              <span>{{tx.statusText}}</span>
            </div>
            <div matListItemLine *ngIf="tx.tip_amount ">
              <span>Trinkgeld: {{tx.tip_amount | currency:'CHF'}}</span>
            </div>
            <div matListItemLine *ngIf="tx.payout_amount ">
              <span>Auszahlung: {{tx.payout_amount | currency:'CHF'}}
                (<small>Gebühr: {{tx.payout_feeAmount | currency:'CHF'}}</small>)</span>
            </div>
            <div matListItemMeta class="list-meta" [ngClass]="{'deleted': tx.failed}">
              {{tx.amount | currency:'CHF'}}
            </div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div style="text-align:center" *ngIf="!viewModel.allTransactionsLoaded">
        <button mat-flat-button
                color="basic"
                [class.spinner]="viewModel.isLoadingMore"
                [disabled]="viewModel.isLoadingMore || (isReadOnly$ | async)"
                (click)="loadMore()">Mehr laden
        </button>
      </div>
    </div>
  </ng-template>
</div>






