/* You can add global styles to this file, and also import other style files */
// Variables
@link-color-active: #fafafa;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 30px;
}

.mat-mdc-nav-list a.active {
  background: @link-color-active;
}

.narrow {
  margin: 0 !important;
}

.mat-mdc-button {
  position: absolute !important;
}

mat-list-item.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none;
}
